
<input value="Untitled form" class="title"> </input> <br>

<input placeholder="Form description" class="form-orientation"></input>

<div class="form-orientation question-box">
  <div class="question-holder" data-question-no="">
    <input class="question" id="question" placeholder="Type your question here"></input>
    <div class="question-type">
      <div class="question-type-header type-header">
        <label>Type of Question</label>
      </div>
      <div class="type-header">
        <select name="question_type" id="question_type" class="question_type_selection">
          <option disabled selected value> -- select an option -- </option>
          <option value="Radio button">Radio button</option>
          <option value="Dropdown">Dropdown</option>
          <option value="Check box">Check box</option>
          <option value="Multiselection options">Multiselection options</option>
          <option value="Text">Text</option>
        </select>
      </div>
      </div>
    </div>
    <div class="Answer_Options"></div>
  </div>
</div>