

<div class ="form_div">

<input placeholder="Untitled form" id="survey-title survey_input" class="title"> </input> <br>

<input placeholder="Form description" id="form-description" class="form-orientation survey_input"></input>

<div class="form-orientation confirmed-question-box"></div>

<div class="form-orientation question-box">
  <div class="question-holder" data-question-no="">
    <input class="question survey_input" id="question" placeholder="Type your question here"></input>
    <div class="question-type">
      <div class="question-type-header type-header">
        <label>Type of Question</label>
      </div>
      <div class="type-header">
        <select name="question_type" id="question_type" class="question_type_selection">
          <option disabled selected value> -- select an option -- </option>
          <option value="radio">Radio button</option>
          <option value="drop_down">Dropdown</option>
          <option value="checkbox">Check box</option>
          <option value="text">Text</option>
        </select>
      </div>
      </div>
    </div>
    <div class="Answer_Options"></div>
  </div>
</div>

</div>