.survey_input:focus {
  border-bottom: 3px solid violet;
}

input {
  border: 0;
  outline: 0;
  // margin-top: 50px !important;
  // width: 800px;
  // margin-left: 200px !important;
  background: transparent;
  border-bottom: .1px solid gray;
}

.title {
  margin-top: 50px;
  margin-left: 200px;
  width: 800px;
  font-size: x-large
}

.form-orientation {
  margin-top: 50px;
  margin-left: 200px;
  width: 800px;
  // margin-bottom: 20px;

}

.question-box {
  box-shadow: .5px .5px .5px .5px #888888;
  padding-bottom: 50px;
  // border: 1px solid
}

.confirmed-question-box{
  box-shadow: .5px .5px .5px .5px #888888;
  // padding-top: 30px;
  // padding-left: 30px;
  // padding-bottom: 30px;
  // display: none;
}

.confirmed_question_div{
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.confirmed_option_div{
  padding-left: 30px;
  padding-top: 10px;
}

.question {
  margin-top: 20px;
  margin-left: 30px;
  width: 450px;
  margin-bottom: 20px;
}

.type-select {
  display: inline;
}

.question-holder {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.question-type {
  margin-left: 150px;
}

.question_type_selection {
  width: 312px;
  margin-right: 10px
}



.Answer_options_item{
    width: 298px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.Add_Answer_options_item{
    width: 298px;
    margin-left: 30px;
   body {
    margin-bottom:50px;
} margin-bottom: 20px;
}

.remove-option{
  margin-left: 19%;
}

.save-question-button{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.save-survey-button{
  margin-bottom: 50px
}

.delete-question-button{
  padding-left: 95%;
}

.type-board{
  margin-left: 50%;
}

.save-response-button{
    margin-bottom: 50px;
}


.link-copied-shared{
  width: 10%;
}

.front-table{
  width:90% !important;
  // max-width: 900px;
  margin-left: 20px;
  margin-bottom: 20px;
  table-layout: fixed;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// td {
//     width: 15%;
// }

.new-survey-button{
  flex-direction: row-reverse;
  position: relative;
  right: 8%;
}

.invite:hover{
  color: blue;
  cursor: pointer; 
}

.size-plus-button{
    width: 25px;
    height: 25px;
}

.font-table-delete{
    text-align: center; 
    vertical-align: middle;
    cursor: pointer;
}

.middle-front-table{
    text-align: center; 
    vertical-align: middle;
}

footer {
  // position: absolute; 
    height: 100px;
    bottom: 0 !important;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px
}

// .bottom-margin{
//     margin-bottom: 50px !important;
// }

body {
    margin-bottom:100px;
}

html { position: relative; min-height: 100%; } 



// html { position: relative; min-height: 100%; } body { margin-bottom: 100px; } footer { position: absolute; bottom: 0; width: 100%; height: 100px; //same height as the margin to the bottom of the body }