// Place all the styles related to the Features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#avatar_image_1 {
    width: 25%;
}

.para {
    color: white;
}

.save-image{
    vertical-align: middle !important;
}